<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.19" targetFramework="net472" />
  <package id="BepInEx.Core" version="5.4.19" targetFramework="net472" />
  <package id="HarmonyX" version="2.7.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="21.12.13.1" targetFramework="net472" />
  <package id="MonoMod.Utils" version="21.12.13.1" targetFramework="net472" />
</packages>